* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: white;
}
.container-fluid {
	padding: 0 !important;
}
.row {
	margin: 0 !important;
}
.fill-height {
  min-height: 100%;
  height:auto !important;
  /*height: 100%;*/
}
/********* header styling starts here ***********/
header {
	display: flex;
	flex-direction: row;
	margin: 50px 60px 0;
	justify-content: space-between;
	/*background: red;*/
	
}
header nav.navbar {
	padding: 0;
}
header nav .navbar-nav a.nav-link {
	padding: 0 !important;
	margin-left: 40px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
}
header nav .navbar-nav .active > a.nav-link {
	color: #88c542;
}

/********* header styling ends here ***********/

/********* Frontend Ninja hero styling starts here ***********/
section#fn-hero-area {
	display: table;
	position: relative;
	height: 100vh;
	width: 100%;
	/* Usage of shorthand background property */
	background: url('../images/hero-bg.png') center center / cover no-repeat;
}
section#fn-hero-area::before {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: '';
	/*background: rgba(137, 197, 66, 0.1);*/
	background: rgba(0, 0, 0, 0.5);
}
.fn-hero-area-wrapper {
	position: relative;
	z-index: 1;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.fn-hero-title {
	color: white;
	font: bold 5.125em "Roboto";
}
.fn-hero-description {
	width: 40%;
	margin: 0 auto 39px;
	line-height: 1.4;
	font-size: 20px; 
	opacity: 0.7;
	font-weight: 100;
	letter-spacing: 0.5px;
}
.fn-hero-description + a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
  width: 192px;
  height: 67px;
  border-radius: 4px;
  background-color: #27ad6c;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
}
.fn-hero-description + a > img {
	margin-left: 14.5px;
}
/********* Frontend Ninja hero styling ends here ***********/

/********* Frontend Ninja requirements styling starts here ***********/
section div.section-content-wrapper {
	margin: 145px 10% 0;
}
section#fn-requirements div.row > div{
	padding: 0 40px;
}
.section-title {
	text-align: center;
	color: #9b9b9b;
	line-height: 1;
	font-size: 48px;
	margin-bottom: 80px;
}
.img-fluid {
	width: 100%;
}
.subtitle {
	color: #27ad6c;
	font-size: 16px;
}
.requirement-subtitle {
	text-align: center;
	font-size: 18px;
	line-height: 1.33;
	margin: 40px 0 8px;
}
.requirement-description {
	opacity: 0.78;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #4a4a4a;
  margin: 0;
}
/********* Frontend Ninja requirements styling ends here ***********/

/********* Frontend Ninja resources styling starts here ***********/

/********* Frontend Ninja resources styling starts here ***********/

/********* Latest from frontend styling starts here ***********/

/********* Latest from frontend styling starts here ***********/
